<nav class="main-nav">
    <ul class="main-nav__list">

        <li class="main-nav__item hover-item" data-id-sub-menu="her">
            <a href="#" class="main-nav__link">Для нее</a>
        </li>

        <li class="main-nav__item hover-item" data-id-sub-menu="him">
            <a href="#" class="main-nav__link">Для него</a>
        </li>

        <li class="main-nav__item hover-item" data-id-sub-menu="sale">
            <a href="#" class="main-nav__link current --sale">Sale</a>
        </li>

        <li class="main-nav__item hover-item" data-id-sub-menu="factory">
            <a href="#" class="main-nav__link">Фабрика</a>
        </li>

        <li class="main-nav__item hover-item" data-id-sub-menu="buyers">
            <a href="#" class="main-nav__link">Покупателям</a>
        </li>

        <li class="main-nav__item --lk">
            <a href="#" class="main-nav__link">Личный кабинет</a>
        </li>

    </ul>
</nav>